/* CUSTOM PROPS */
:root {
    --green:  #5fb4a2;
    --dark-blue: #203a4c;
    --grey-blue: #33323d;
    --light-grey: #fafafa;
    --grey: #eaeaeb;
    --red: #f43030;
    --text-color: var(--grey-blue);
    --text-color-dark: var(--light-grey);
    --bg-color: var(--light-grey);

    --accent-font-family: "Ibarra Real Nova", "Times New Roman", serif;
    --body-font-family: "Public Sans", "Arial", sans-serif; 
}


/* FONTS */
@font-face {
    font-family: "Public Sans";
    src: url("../fonts/PublicSans-BoldItalic.woff2") format("woff2"),
    url("../fonts/PublicSans-BoldItalic.woff") format("woff");
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: "Public Sans";
    src: url("../fonts/PublicSans-Bold.woff2") format("woff2"),
    url("../fonts/PublicSans-Bold.woff") format("woff");
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Ibarra Real Nova";
    src: url("IbarraRealNova-Regular.woff2") format("woff2"),
    url("IbarraRealNova-Regular.woff") format("woff");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Public Sans";
    src: url("../fonts/PublicSans-Regular.woff2") format("woff2"),
    url("../fonts/PublicSans-Regular.woff") format("woff");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Ibarra Real Nova";
    src: url("IbarraRealNova-Bold.woff2") format("woff2"),
    url("IbarraRealNova-Bold.woff") format("woff");
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}


/* GLOBAL */
html {
    box-sizing: border-box;
    height: 100%;
    scroll-behavior: smooth;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 0;
    margin: 0;
    font-family: var(--body-font-family);
    font-size: 16px;
    line-height: 30px;
    color: var(--text-color);
    background-color: var(--bg-color);
}

img {
    max-width: 100%;
    height: auto;
}

h1 {
    margin: 0;
    font-family: var(--accent-font-family);
    font-size: 50px;
    font-weight: 700;
    line-height: 50px;
    letter-spacing: -0.446px;
}

h2 {
    margin: 0;
    font-family: var(--accent-font-family);
    font-size: 40px;
    font-weight: 700;
    line-height: 42px;
    letter-spacing: -0.357px;
}

h3 {
    margin: 0;
    font-family: var(--accent-font-family);
    font-size: 32px;
    font-weight: 400;
    line-height: 36px;
    letter-spacing: -0.286px;
}


/* VISUALLY HIDDEN */
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
}


/* CONTAINER */
.container {
    width: 100%;
    max-width: 1190px;
    padding-left: 32px;
    padding-right: 32px;
    margin-left: auto;
    margin-right: auto;
}


/* MAIN CONTENT */
.main-content {
    flex-grow: 1;
}


@media
only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (   min--moz-device-pixel-ratio: 2),
only screen and (     -o-min-device-pixel-ratio: 2/1),
only screen and (        min-device-pixel-ratio: 2),
only screen and (                min-resolution: 192dpi),
only screen and (                min-resolution: 2dppx) { 

/* Retina-specific stuff here */

}