/* CUSTOM PROPS */
:root {
    --green:  #5fb4a2;
    --dark-blue: #203a4c;
    --grey-blue: #33323d;
    --light-grey: #fafafa;
    --grey: #eaeaeb;
    --red: #f43030;
    --text-color: var(--grey-blue);
    --text-color-dark: var(--light-grey);
    --bg-color: var(--light-grey);
    
    --accent-font-family: "Ibarra Real Nova", "Times New Roman", serif;
    --body-font-family: "Public Sans", "Arial", sans-serif; 
}


/* FONTS */
@font-face {
    font-family: "Public Sans";
    src: url("../fonts/PublicSans-BoldItalic.woff2") format("woff2"),
    url("../fonts/PublicSans-BoldItalic.woff") format("woff");
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: "Public Sans";
    src: url("../fonts/PublicSans-Bold.woff2") format("woff2"),
    url("../fonts/PublicSans-Bold.woff") format("woff");
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Ibarra Real Nova";
    src: url("../fonts/IbarraRealNova-Regular.woff2") format("woff2"),
    url("../fonts/IbarraRealNova-Regular.woff") format("woff");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Public Sans";
    src: url("../fonts/PublicSans-Regular.woff2") format("woff2"),
    url("../fonts/PublicSans-Regular.woff") format("woff");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Ibarra Real Nova";
    src: url("../fonts/IbarraRealNova-Bold.woff2") format("woff2"),
    url("../fonts/IbarraRealNova-Bold.woff") format("woff");
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}


/* GLOBAL */
html {
    box-sizing: border-box;
    height: 100%;
    scroll-behavior: smooth;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 0;
    margin: 0;
    font-family: var(--body-font-family);
    font-size: 16px;
    line-height: 30px;
    color: var(--text-color);
    background-color: var(--bg-color);
}

img {
    max-width: 100%;
    height: auto;
}

h1 {
    margin: 0;
    font-family: var(--accent-font-family);
    font-size: 50px;
    font-weight: 700;
    line-height: 50px;
    letter-spacing: -0.446px;
}

h2 {
    margin: 0;
    font-family: var(--accent-font-family);
    font-size: 40px;
    font-weight: 700;
    line-height: 42px;
    letter-spacing: -0.357px;
}

h3 {
    margin: 0;
    font-family: var(--accent-font-family);
    font-size: 32px;
    font-weight: 400;
    line-height: 36px;
    letter-spacing: -0.286px;
}


/* VISUALLY HIDDEN */
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
}


/* CONTAINER */
.container {
    width: 100%;
    max-width: 1190px;
    padding-left: 32px;
    padding-right: 32px;
    margin-left: auto;
    margin-right: auto;
}


/* BUTTON */
.button {
    display: inline-block;
    padding: 17px 32px;
    font-size: 12px;
    line-height: normal;
    letter-spacing: 2px;
    color: var(--text-color);
    background-color: #fff;
    border: 1px solid var(--grey-blue);
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    white-space: nowrap;
    cursor: pointer;
    transition: color 0.3s ease,
    background-color 0.3s ease;
}

.button:hover {
    color: var(--text-color-dark);
    background-color: var(--grey-blue);
}

.button:active {
    opacity: 0.6;
}

.button > span {
    display: none;
}

.button:disabled,
.button[disabled] {
    opacity: 0.2;
}

.button-primary {
    position: relative;
    min-width: 200px;
    padding: 17px 8px 17px 56px;
    border: 1px solid transparent;
    color: #fff;
    background-color: var(--dark-blue);
    text-align: center;
}

.button-primary:hover {
    background-color: var(--green);
}

.button-primary:active {
    opacity: 0.6;
}

.button-primary::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 48px;
    height: 48px;
    background-color: rgba(0, 0, 0, 0.1);
    background-image: url("../img/button-img.svg");
    background-repeat: no-repeat;
}

.button-primary:hover::before {
    background-image: url("../img/button-img-white.svg");
}


/* FORM ELEMENTS */
.form-group {
    position: relative;
}

.form-field {
    display: block;
    width: 100%;
    padding: 9px 16px;
    border: 1px solid transparent;
    background-color: rgba(51, 50, 61, 0.1);
    font-size: 13px;
    line-height: 30px;
}

.form-field::placeholder {
    color: rgba(51, 50, 61, 0.4);
}

.error-msg {
    position: absolute;
    bottom: -4px;
    left: 0;
    color: var(--red);
    font-size: 10px;
    font-style: italic;
    font-weight: 700;
    line-height: normal;
    transform: translateY(100%);
}

.form-field-textarea {
    min-height: 84px;
    resize: vertical;
}

.form-field:not(:focus):not(:placeholder-shown):valid {
    border-color: var(--green);
}

.form-field:not(:focus):not(:placeholder-shown):invalid {
    border-color: var(--red);
}

.form-field:focus + .error-msg,
.form-field:valid + .error-msg,
.form-field:placeholder-shown + .error-msg {
    display: none;
}

/* LOGO */
.logo {
    display: flex;
    flex-shrink: 0;
}

.logo:hover {
    opacity: 0.8;
}

.logo:active {
    opacity: 0.6;
}

.logo__img {
    width: 60px;
    height: 32px;
    object-fit: contain;
}


/* MAIN CONTENT */
.main-content {
    flex-grow: 1;
}


/* SITENAV */
.sitenav__list {
    display: flex;
    margin: 0;
    padding: 0;
    list-style: none;
}

.sitenav__item:not(:last-child) {
    margin-right: 42px;
}

.sitenav__link {
    display: block;
    color: var(--text-color);
    font-size: 12px;
    line-height: normal;
    letter-spacing: 2px;
    text-transform: uppercase;
    text-decoration: none;
    transition: color 0.3s ease;
}

.sitenav__item_active .sitenav__link {
    color: var(--green);
}

.sitenav__link:hover {
    color: var(--green);
}

.sitenav__link:active {
    opacity: 0.6;
}


/* SITE-HEADER */
.site-header {
    position: relative;
    z-index: 1;
    padding-top: 32px;
    padding-bottom: 40px;
}

.site-header__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.site-header__logo {
    margin-right: 24px;
}

.site-header__sitenav {
    display: none;
}

.site-header__sitenav-toggler {
    display: none;
}

.site-header__sitenav-toggler span,
.site-header__sitenav-toggler span::before,
.site-header__sitenav-toggler span::after {
    position: absolute;
    top: 50%; margin-top: -0.5px;
    left: 50%; margin-left: -12px;
    width: 24px;
    height: 1px;
    background-color: var(--grey-blue);
    transition: transform 0.3s ease;
}

.site-header__sitenav-toggler span::before,
.site-header__sitenav-toggler span::after {
    content: "";
    display: block;
}

.site-header__sitenav-toggler span::before {
    transform: translateY(-5px);
}

.site-header__sitenav-toggler span::after {
    transform: translateY(5px);
}

.site-header__sitenav-toggler_actice span {
    height: 0;
}

.site-header__sitenav-toggler_actice span::before {
    transform: rotate(45deg);
}

.site-header__sitenav-toggler_actice span::after {
    transform: rotate(-45deg);
}


/* HERO STYLES */
.hero {
    padding-bottom: 75px;
}

.hero__container {
    position: relative;
}

.hero__img {
    display: flex;
    width: 100%;
}

.hero__content {
    background-color: #fff;
}

.hero__heading {
    margin-bottom: 32px;
}


/* ABOUT ME */
.about-me {
    padding-top: 21px;
    padding-bottom: 75px;
}

.about-me__img {
    display: block;
}

.about-me__info {
    padding-top: 32px;
    padding-bottom: 50px;
    border-top: 1px solid rgba(51, 50, 61, 0.15);
    border-bottom: 1px solid rgba(51, 50, 61, 0.15);
}

.about-me__title {
    margin-bottom: 28px;
    text-transform: capitalize;
}

.about-me__text {
    margin-top: 0;
    margin-bottom: 24px;
}


/* CTA */
.cta {
    padding-top: 40px;
    padding-bottom: 80px;
}

.cta__container {
    display: flex;
    gap: 40px;
    align-items: center;
}

.cta__title {
    width: 340px;
    max-width: 100%;
}


/* SITE FOOTER */
.site-footer {
    background-color: var(--grey-blue);
}

.site-footer__logo {
    filter: brightness(0) invert(1);
}

.site-footer__sitenav .sitenav__link {
    color: #fff;
}

.site-footer__sitenav .sitenav__link:hover {
    color: var(--green);
}

.site-footer__socials {
    display: flex;
    gap: 15px;
    align-items: center;
    padding: 0;
    margin: 0;
    list-style: none;
}

.site-footer__socials-link {
    display: flex;
    color: #fff;
}

.site-footer__socials-link:hover {
    color: var(--green);
}

.site-footer__socials-link:active {
    opacity: 0.6;
}


/* PORTFOLIO-PROJECTS */

.projects {
    padding-bottom: 40px;
}

.project {
    display: flex;
}

.project:not(:last-child) {
    margin-bottom: 72px;
}

.project__img {
    flex-shrink: 0;
    display: block;
    width: 100%;
}

.project__info {
    border-top: 1px solid rgba(51, 50, 61, 0.15);
    border-bottom: 1px solid rgba(51, 50, 61, 0.15);
}

.project__title {
    margin-bottom: 24px;
    text-transform: capitalize;
}

.project__text {
    margin-top: 0;
    margin-bottom: 24px;
    font-size: 15px;
    opacity: 0.8;
}


/* PORTFOLIO DETAILS */
.portfolio-details {
    padding-bottom: 40px;
}

.portfolio-details__img-wrapper {
    margin-bottom: 40px;
}

.portfolio-details__img {
    display: block;
}

.portfolio-details__info {
    padding-top: 24px;
    padding-bottom: 24px;
    border-top: 1px solid rgba(51, 50, 61, 0.15);
    border-bottom: 1px solid rgba(51, 50, 61, 0.15);
}

.portfolio-details__title {
    margin-bottom: 24px;
}

.portfolio-details__text {
    margin-top: 0;
    margin-bottom: 24px;
    font-size: 15px;
    opacity: 0.8;
}

.portfolio-details__badge-wrapper {
    margin-bottom: 24px;
    font-size: 13px;
    font-weight: 700;
    line-height: 30px;
    color: var(--green);
}


/* Portfolio Details Background */
.portfolio-details__background {
    margin-bottom: 40px;
}

.project-background__title {
    margin-bottom: 28px;
}

.project-background__text {
    margin-top: 0;
    margin-bottom: 0;
}


/* Portfolio Details Previews */
.project-previews__title {
    margin-bottom: 40px;
}

.project-previews__img-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
}

.project-previews__img-wrapper:not(:last-child) {
    margin-bottom: 32px;
}

.project-previews__img {
    width: 100%;
    max-width: 100%;
}


/* PREV NEXT PROJECTS */
.prev-next-projects {
    padding-top: 24px;
    padding-bottom: 24px;
}

.prev-next-projects__container {
    border-top: 1px solid rgba(51, 50, 61, 0.15);
    border-bottom: 1px solid rgba(51, 50, 61, 0.15);
}

.prev-next-projects__inner {
    display: flex;
}

.prev-next-projects__btn-wrapper {
    flex-grow: 1;
    display: flex;
    padding-top: 24px;
    padding-bottom: 24px;
}

.prev-next-projects__btn-wrapper:last-child {
    justify-content: flex-end;
}

.prev-next-projects__btn-wrapper:not(:last-child) {
    border-right: 1px solid rgba(51, 50, 61, 0.15);
}

.prev-next-btn {
    display: inline-block;
    text-decoration: none;
    color: var(--text-color);
}

.prev-next-btn:hover {
    color: var(--green);
}

.prev-next-btn:active {
    opacity: 0.6;
}

.prev-next-btn__inner {
    display: flex;
}

.prev-next-btn__icon {
    display: block;
}

.prev-next-btn__title {
    display: block;
    font-family: var(--accent-font-family);
    font-size: 32px;
    line-height: 36px;
    letter-spacing: -0.286px;
}

.prev-next-btn__text {
    display: block;
    color: rgba(51, 50, 61, 0.5);
}


/* CONTACT */
.contact-me {
    padding-bottom: 80px;
}

.contact-me__content {
    padding-top: 24px;
    padding-bottom: 32px;
    border-top: 1px solid rgba(51, 50, 61, 0.15);
    border-bottom: 1px solid rgba(51, 50, 61, 0.15);
}

.content-contact {
    margin-bottom: 32px;
}

.content-contact__title {
    margin-bottom: 24px;
}

.content-contact__text {
    margin-top: 0;
    margin-bottom: 24px;
    font-size: 15px;
    line-height: 30px;
    color: rgba(51, 50, 61, 0.8);
}

.content-contact__socials-list {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    align-items: center;
}

.content-contact__socials-item:not(:last-child) {
    margin-right: 16px;
}

.content-contact__socials-link {
    display: flex;
    color: var(--grey-blue);
}

.content-contact__socials-link:hover {
    color: var(--green);
}

.content-contact__socials-link:active {
    opacity: 0.6;
}


/* CONTACT ME FORM */
.form-contact__title {
    margin-bottom: 24px;
}

.form-group:not(:last-child) {
    margin-bottom: 24px;
}

.form-label {
    display: block;
    margin-bottom: 8px;
    font-size: 13px;
    font-weight: 700;
    line-height: 30px;
    color: rgba(51, 50, 61, 0.8);
}

.contact-form__button {
    padding: 17px 8px;
}

.contact-form__button::before {
    content: none;
}


@media
only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (   min--moz-device-pixel-ratio: 2),
only screen and (     -o-min-device-pixel-ratio: 2/1),
only screen and (        min-device-pixel-ratio: 2),
only screen and (                min-resolution: 192dpi),
only screen and (                min-resolution: 2dppx) { 
    
    /* Retina-specific stuff here */
    
}

@media only screen and (max-width: 350px) {
    .portfolio-details__badge-wrapper {
        line-height: 20px;
    }
    
    .portfolio-details__badge:not(:last-child) {
        margin-bottom: 8px;
    }
    
    .prev-next-btn__title {
        font-size: 22px;
    }
    
    .prev-next-btn__text {
        font-size: 13px;
    }
}

@media only screen and (max-width: 499px) {
    .site-header_active .site-header__sitenav {
        position: absolute;
        right: 32px;
        top: 100%;
        max-width: calc(100% - 64px);
        min-width: 223px;
        display: block;
        padding: 40px;
        background-color: var(--grey-blue);
        transform: translateY(-16px);
        z-index: 999;
    }
    
    .sitenav__list {
        flex-direction: column;
        text-align: center;
    }
    
    .sitenav__item:not(:last-child) {
        margin-right: 0;
        margin-bottom: 32px;
    }
    
    .site-header__sitenav .sitenav__link {
        color: #fff;
    }
    
    .site-header__sitenav-toggler {
        display: block;
        position: relative;
        width: 24px;
        height: 24px;
        border: none;
        background-color: transparent;
    }
    
    .hero__heading {
        font-size: 40px;
        line-height: 42px;
        letter-spacing: -0.357px;
    }
    
    .about-me__img-wrapper {
        margin-bottom: 32px;
    }
    
    .site-footer {
        padding-top: 56px;
        padding-bottom: 56px;
    }
    
    .project {
        flex-direction: column;
    }
    
    .project__img {
        margin-bottom: 32px;
    }
    
    .project__info {
        padding-top: 24px;
        padding-bottom: 24px;
    }
    
    .layout-2-1__1 {
        margin-bottom: 48px;
    }
    
    .prev-next-btn__inner {
        flex-direction: column;
        align-items: flex-start;
        gap: 16px;
    }
    
    .prev-next-projects__btn-wrapper:last-child .prev-next-btn__inner {
        align-items: flex-end;
        text-align: end;
    }
}

@media only screen and (min-width: 499px) {
    .container {
        padding-left: 40px;
        padding-right: 40px;
    }
    
    .site-header {
        padding-top: 64px;
        padding-bottom: 47px;
    }
    
    .site-header__sitenav {
        display: block;
    }
    
    .hero__heading {
        margin-bottom: 48px;
    }
    
    .cta {
        padding-top: 21px;
        padding-bottom: 96px;
    }
    
    .cta__container {
        gap: 32px;
    }
    
    .site-footer {
        padding-top: 33px;
        padding-bottom: 33px;
    }
    
    .portfolio-projects {
        padding-top: 47px;
        padding-bottom: 75px;
    }
    
    .project:nth-child(even) {
        flex-direction: row-reverse;
    }
    
    .project:nth-child(even) .project__info {
        margin-right: 32px;
        margin-left: 0px;
    }
    
    .project:not(:last-child) {
        margin-bottom: 80px;
    }
    
    .project__info {
        width: 60%;
        padding-top: 32px;
        padding-bottom: 50px;
        margin-left: 32px;
    }
    
    .project__title {
        margin-bottom: 30px;
    }
    
    .project__text {
        margin-bottom: 35px;
    }
    
    .portfolio-details {
        padding-top: 47px;
    }
    
    .portfolio-details__info {
        padding-top: 32px;
        padding-bottom: 32px;
    }
    
    .layout-2-1__1 {
        margin-bottom: 40px;
    }
    
    .prev-next-projects {
        padding-top: 40px;
        padding-bottom: 59px;
    }
    
    .prev-next-btn__inner {
        align-items: center;
        gap: 32px;
    }
    
    .prev-next-projects__btn-wrapper:last-child .prev-next-btn__inner {
        flex-direction: row-reverse;
    }
    
    .contact-me {
        padding-top: 47px;
    }
    
    .contact-me__content {
        padding-top: 32px;
    }
    
    .contact-me {
        padding-bottom: 96px;
    }
    
    .form-contact__title {
        margin-bottom: 32px;
    }
}

@media only screen and (max-width: 650px) {
    .cta__container {
        flex-direction: column;
        text-align: center;
    }
    
    .site-footer__container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .site-footer__logo {
        margin-bottom: 40px;
    }
    
    .site-footer__sitenav {
        margin-bottom: 40px;
    }

    .site-footer .sitenav__list {
        flex-direction: column;
        text-align: center;
    }

    .site-footer .sitenav__item:not(:last-child) {
        margin-right: 0;
        margin-bottom: 32px;
    }
}

@media only screen and (min-width: 650px) {
    .about-me__container {
        display: flex;
    }

    .about-me__img-wrapper {
        margin-right: 70px;
        width: 281px;
        max-width: 100%;
    }

    .about-me__picture {
        display: block;
        height: 100%;
    }
    
    .about-me__img {
        height: 100%;
        object-fit: cover;
        object-position: right bottom;
    }

    .about-me__info {
        width: 339px;
        max-width: 100%;
    }
    
    .cta__title {
        flex-shrink: 0;
    }
    
    .cta__line {
        width: 100%;
        max-width: 100%;
        height: 1px;
        background-color: rgba(51, 50, 61, 0.15);
    }

    .site-footer__container {
        display: flex;
        align-items: center;
    }
    
    .site-footer__logo {
        margin-right: 48px;
    }
    
    .site-footer__socials {
        margin-left: auto;
    }
}

@media only screen and (max-width: 760px) {
    .hero__img {
        margin-bottom: 24px;
    }
}

@media only screen and (min-width: 760px) {
    .hero__content {
        position: absolute;
        z-index: 1;
        bottom: 0;
        left: 39px;
        width: 514px;
        max-width: 100%;
        padding-top: 56px;
        padding-right: 56px;
    }
    
    .project {
        align-items: center;
    }
    
    .project__info {
        padding-top: 32px;
        padding-bottom: 50px;
        margin-left: 70px;
    }
    
    .project:nth-child(even) .project__info {
        margin-right: 70px;
    }
    
    .portfolio-details__info {
        display: grid;
        grid-template-columns: 340px 1fr;
        gap: 16px 12px;
        align-items: start;
        justify-items: start;
    }
    
    .portfolio-details__title {
        margin-bottom: 0;
    }
    
    .portfolio-details__text {
        grid-row: 1 / 4;
        grid-column: 2;
        margin-bottom: 0;
    }
    
    .portfolio-details__badge-wrapper {
        margin-bottom: 0;
    }
}

@media only screen and (max-width: 850px) {
    .hero__heading {
        font-size: 40px;
        line-height: 42px;
        letter-spacing: -0.357px;
    }
}

@media only screen and (min-width: 850px) {
    .site-header {
        padding-bottom: 54px;
    }
    
    .hero__content {
        width: 445px;
    }
    
    .hero__heading {
        font-size: 50px;
        line-height: 50px;
        letter-spacing: -0.446px;
        margin-bottom: 53px;
    }
    
    .about-me__img-wrapper {
        margin-right: 125px;
        width: 540px;
    }
    
    .about-me__info {
        width: 350px;
    }
    
    .cta {
        padding-top: 75px;
        padding-bottom: 150px;
    }
    
    .project {
        align-items: stretch;
    }
    
    .project__title {
        margin-bottom: 28px;
    }
    
    .project__text {
        margin-bottom: 24px;
    }
    
    .prev-next-projects {
        padding-top: 17px;
        padding-bottom: 75px;
    }
    
    .contact-me__content {
        display: flex;
        gap: 125px;
        padding-top: 48px;
        padding-bottom: 48px;
    }
    
    .content-contact__title {
        width: 350px;
        max-width: 100%;
        flex-shrink: 0;
        margin-bottom: 0;
    }
    
    .content-contact__text {
        font-size: 16px;
    }
    
    .contact-me {
        padding-bottom: 110px;
    }
    
    .contact-me__form {
        display: flex;
        gap: 125px;
    }
    
    .form-contact__title {
        width: 350px;
        max-width: 100%;
        margin-bottom: 0;
    }
    
    .form-contact__form {
        flex-grow: 1;
    }
}

@media only screen and (min-width: 1024px) {
    .project__info {
        width: 350px;
        max-width: 100%;
        margin-left: 125px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
    }
    
    .portfolio-details__badge:not(:last-child) {
        margin-bottom: 16px;
    }
    
    .portfolio-details__img-wrapper {
        margin-bottom: 125px;
    }
    
    .layout-2-1 {
        display: flex;
        align-items: flex-start;
        gap: 125px;
    }
    
    .layout-2-1__1 {
        width: 350px;
        max-width: 100%;
        flex-shrink: 0;
        margin-bottom: 0;
    }
    
    .layout-2-1__2 {
        flex-grow: 1;
    }
    
    .portfolio-details__info {
        display: block;
    }
    
    .portfolio-details__title {
        margin-bottom: 30px;
    }
    
    .portfolio-details__text {
        margin-bottom: 24px;
    }
    
    .portfolio-details__badge-wrapper {
        margin-bottom: 32px;
        font-size: 16px;
    }
}